.searchbarContainer{
    display: flex;
    align-items: center;
    gap: 6px;
    border: 2px solid #f59e0b;
    border-radius: 8px;
    width: 400px;
    height: 40px;
}

.textbox{
    font-size: 20px;
    width: 100%;
    max-width: 800px;
    border: none;
}

.suggestionsList {
    display: flex;
}