@import "tailwindcss";

:root {
  --background: #fff8ec;
  --foreground: #171717;
  --primary: #f59e0b;
  --primaryHover: #f9b032;
  --primaryBg: #f59f0b20;
  --secondary: #FFEA00;
  --tertiary: rgb(210, 210, 210);
  --cardShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --iconColor: #6b7280;
  --iconColorHover: #7d8696;
  --iconColorClicked: #434851;
  --cardHover: rgb(255, 234, 0);

  /* Category colors */
  --social: #F50B0B;
  --physical: #f59e0b;
  --creativity: #F1F50B;
  --financial: #0BF569;
  --mental: #0B80F5;
  --productivity: #5D0BF5;
  --mindfulness: #AF0BF5;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
  --background: rgb(255, 248, 235);
  --foreground: #171717;
    --primary: #f59e0b;
    --secondary: #FFEA00;
    --tertiary: rgb(210, 210, 210);
    --cardShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --iconColor: #6b7280;
    --cardHover: rgb(255, 234, 0)
    /* Category colors */
  --social: #F50B0B;
  --physical: #f59e0b;
  --creativity: #F1F50B;
  --financial: #0BF569;
  --mental: #0B80F5;
  --productivity: #5D0BF5;
  --mindfulness: #AF0BF5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white, gray;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 14px;
  border: 3px solid grey;
}