/* .commentListContainer{
    display: flex;
    justify-content: center;
} */

.noCommentsMessage {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:gray;
}

.zestyMessage {
    margin-left: 4px;
    color: var(--primary);
}