.shinePostContainer {
    padding: 8px;
}

.shinePostHeader {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.shinePostHeader h1 {
    font-weight: bold;
}

.shinePosterProfile {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}